<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home.css">
    <title>home</title>
</head>
<body>
  <div class="conteiner">
     <h1>bem vindo ao nosso site</h1><br>
     <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br>Dignissimos, aperiam labore modi magnam recusandae porro possimus officia <br> sint sed autem ex accusantium mollitia exercitationem soluta eaque, sapiente nam <br> quibusdam expedita. lo</h3>
    <div class="divs">
      <div class="btnForm">
         <a href="/tasks/form">preencher fomulario</a>
      </div>

      <div class="btnLogin">
         <a href="/tasks/login">fazer login</a>
      </div>
    </div>

    </div>
</body>
</html>